ARCH=$(uname)

alias c="clear"
if [ $ARCH = "Linux" ]; then
	alias ls="ls --color=auto"
	alias l="ls -lah --color=auto"
fi
alias shdn="shutdown now"
alias dotupd="dotfiles_update"

# zsh
alias rcs="source ~/.zshrc"

# paths
alias c.="cd .."
alias dot="cd ~/.dotfiles"
alias pr="cd $PROJECTS"

# git
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gpl="git push"
alias gd="git diff"
alias gc="git checkout"
alias gcm="git commit -m "
alias gconf="git conflicted"

# docker
alias dp="docker ps"
alias dcu="docker-compose up"
alias dl="docker logs"
alias de="docker exec -it"
alias drf="docker rm -f"

function dkill() {
    docker kill $(docker ps -q)
}

function drm() {
    docker rm -f $(docker ps -qa)
}

function dipfix() {
    sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
}

# archiving
alias dirgz="find * -maxdepth 0 -type d -exec tar czvf {}.tar.gz {} \;"
alias dirzip="find * -maxdepth 0 -type d -exec zip -r {}.zip {} \;"

# python
alias pipr="pip install -r requirements.txt"
