.config/*
!.config/i3
!.config/gtk-2.0
!.config/gtk-3.0
!.config/termite
!.config/terminator
!.config/.conkyrc
!.config/albert
!.config/polybar
!.config/dunst
!.config/nvim
.config/nvim/plugged/*
.config/albert/core.db
.vim/view/*
.vim/.netrwhist
vi-vim-nvim-symlink/*
!vi-vim-nvim-symlink/PKGBUILD
