export GIT_EMAIL="some@example.org"
export GIT_NAME="Davis Kregers"

export ALLOW_PINGING=0
export SSH_ENABLED=0
export GPU_DRIVERS=0
export INCLUDE_BLUETOOTH_DRIVERS=0
export DESKTOP_ENVIRONMENT=1

export INCLUDE_ELIXIR=0
export INCLUDE_PHP=0
export INCLUDE_NODEJS=0
export INCLUDE_PYTHON=0
export INCLUDE_HASKELL=0
export INCLUDE_AUDIO=0
export INCLUDE_SCREEN_CAPTURE=0
export INCLUDE_OFFICE=0
export INCLUDE_NOTION=0
export INCLUDE_AUTHY=0

export INCLUDE_TELEGRAM=0
export INCLUDE_DISCORD=0
export INCLUDE_ZOOM=0
export INCLUDE_MAILSPRING=0
export INCLUDE_SLACK=0
export INCLUDE_VSCODE=0
export INCLUDE_POSTMAN=0
export INCLUDE_TODOIST=0
export INCLUDE_HEIDISQL=0
export INCLUDE_QUICKREDIS=0
export INCLUDE_DOCKER=1
export INCLUDE_LAPTOP_SUPPORT=0

export STARTUP_NUMLOCK_ENABLED=0

