snippet test "New PHPUnit test function" !b
public function test${1:Nothing}()
{
	${2:$this->assertTrue(true);}
}
endsnippet

snippet php "new php file starter" !b
<?php
namespace ${1:App\Services};

class ${2:dummy}
{

}
endsnippet
