# bash

alias c="clear"
alias ls="ls --color=auto"
alias l="ls -lah --color=auto"
alias shdn="shutdown now"
alias dotupd="dotfiles_update"

# zsh

alias rcs="source ~/.zshrc"

# paths

alias c.="cd .."
alias dot="cd ~/.dotfiles"
alias pr="cd $PROJECTS"

# git

alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gpl="git push"
alias gd="git diff"
alias gc="git checkout"

# docker

alias dp="docker ps"
alias du="docker-compose up"

function dkill() {
    docker kill $(docker ps -q)
}

function drm() {
    docker rm -f $(docker ps -qa)
}

function dipfix() {
    sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
}

# archiving
alias dirgz="find * -maxdepth 0 -type d -exec tar czvf {}.tar.gz {} \;"
alias dirzip="find * -maxdepth 0 -type d -exec zip -r {}.zip {} \;"

# python

alias pipr="pip install -r requirements.txt"
